.editContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    z-index: 3000;
    top: 0;
    display: flex;
    place-content: center;
    place-items: center;
}

.editPopupContainer{
    background-color: #fff;
    width: fit-content;
    box-shadow: 0 2px 5px 1px #00000049;
    width: 40vw;
    height: 50vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    place-content: space-around;
    place-items: center;
    text-align: center;
    gap: 1em;
    position: relative;
}

.closeWindow{
    position: absolute;
    top: 1em;
    right: 1em;
}

.editUser{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.editUserInputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    place-content: space-around;
    place-items: center;
    height: 80%;
}

.input{
    flex: 1 1 auto;
    width: 4em;
    height: 1em;
    min-width: 125px;
    border: none;
    border-bottom: 1px solid #D0D0D0;
}

.select{
    width: 80%;
    border: none;
    outline: none;
}

.select:has(option[value=""]:checked) {
    color: gray;
}

.editRoles{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.rolesContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    place-items: center;
    place-content: center;
}

.addRole{
    width: 50%;
}

.addRoleTitle{
    color: #737373;
}

.deleteRoles{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    place-content: center;
    place-items: center;
    place-self: center;
}

.role{
    height: 1em;
    display: flex;
    place-content: space-around;
    place-items: center;
    text-align: center;
    border-radius: 30px;
    width: 50%;
    height: 2em;

}

.saveButton{
    width: 100px;
    height: 4vh;
    background-color: #03579B;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 1em;
    box-shadow: 0 2px 5px 1px #00000049;
}

.generalTitle{
    color: #03579B;
}

@media (max-width: 1043px){
    .editUserInputs{
        flex-direction: column;
    }

    .input{
        width: 80%;
    }

    .rolesContainer{
        flex-direction: column;
    }

    .rolesContainer{
        gap: 1em;
    }
    .addRole{
        width: 100%;
    }

    .deleteRoles{
        width: 100%;
    }

    .select{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .editPopupContainer{
        width: 70vw;
        height: 30em;
    }
}