.body{
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, #03579B 50%, #fff 50%);
    place-content: center;
    place-items: center;
    display: flex;
}

.main{
    width: 25em;
    position: relative;
    height: fit-content;
    background-color: #FCFCFC;
    box-shadow: 0 0 5px 1px #00000049;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 5.5em 0;
    text-align: center;

    & .logo{
        width: 15em;
        height: auto;
        margin-bottom: 2.8em;
    }

    & .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 70%;
        gap: 5px;

        & .label{
            color: #737373;
            margin-top: 1em;
        }

        & .idForm, .pswForm{
            border: none;
            box-shadow: 0 0 5px 1px #00000049;
            height: 2em;
            
        }

        & .forget{
            color: #03579B;
            place-self: end;
        }

        & .submit{
            margin-top: 4em;
            height: 40px;
            border: none;
            background-color: #03579B;
            color: #fff;
            border-radius: 35px;
            box-shadow: 0 0 5px 1px #00000049;
        }

    }
}

@media (max-width: 640px) {

    .body{
        background: #03579B;
    }

    .main{
        width: 100vw;
    }
  }