.deleteContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    z-index: 3000;
    top: 0;
    display: flex;
    place-content: center;
    place-items: center;
}

.deletePopupContainer{
    background-color: #fff;
    width: fit-content;
    box-shadow: 0 2px 5px 1px #00000049;
    width: 40vw;
    height: 20vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    place-content: space-around;
    place-items: center;
}

.deletePopupButtons{
    display: flex;
    width: 100%;
    place-content: space-around;
    gap: 1em;
}

.no, .yes{
    width: 6vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
}

.yes{
    background-color: #03579B;
    color: #fff;
    
}

@media screen and (max-width: 800px) {
    .deletePopupContainer{
        width: 70vw;
        height: 20em;
        text-align: center;
        padding: 1em;
    }

    .deletePopupButtons{
        width: 100%;
        place-content: center;
        place-items: center;
        flex-direction: column-reverse;
    }

    .no, .yes{
        width: 10em;
    }
}