


  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    background-color: #03579B;
    color: #fff;
  }
  
  .navInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }
  
  .navLinks {
    display: flex;
  }
  
  .navLink {
    margin-left: 2rem;
    transition: color 0.2s;
    color: white;
    text-decoration: none;
    
  }
  
  .navLink:hover {
    color: #60a5fa;
  }
  
  .heroSection {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .heroContent {
    text-align: center;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .heroLogo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
  }
  
  .heroText {
    color: #4b5563;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
  }

  
  .missionVisionSection {
    background-color: #f9fafb;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .aboutUs{
    margin-bottom: 1em;
    width: 80%;
    place-self: center;

    & .aboutUsTitulo{
      color: #03579B;
      text-align: center;
      margin-bottom: 1em;
      font-size: 3rem;
    }
  }
  
  .missionVisionGrid {
   display: flex;
   flex-direction: row;
   margin-top: 3em;
    gap: 3rem;
  }
  
  .missionVisionTitle {
    font-size: 2.25rem;
    font-weight: bold;
    color: #03579B;
    margin-bottom: 2rem;
  }
  
  .missionVisionImage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
  
  .missionVisionText {
    color: #4b5563;
  }
  
  .projectsSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #1f2937;
    color: #fff;
  }
  
  .projectsTitle {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .projectsCards {

    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    gap: 0.5em;
    position: relative;
    width: 100%;
    height: 100%;
    

    & .cardBono{
      position: relative;
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      width: 100%;
      min-height: 700px;
      height: max-content;

      & .cardTitle{
        position: relative;
        color: #03579B;
        text-align: center;
        padding: 10px;
        height: 4.3em;
        font-size: 93%;
        display: flex;
        place-content: center;
        place-items: center;
      }

      & .cardImage{
        width: 100%;
        height: auto;
      }

      & .cardInfo{
        display: flex;
        flex-direction: column;
        place-content: baseline;
        padding: 10px;
        gap: 10px;
        place-items: center;
        text-align: center;
        height: fit-content;
        flex: 1;

        & .cardIcon{
          width: 25%;
          height: auto;
        }
  
        & .cardDesc{
          color: #000;
        }
      }



      & .cardLinkTo{
        flex-basis: 40px;
        border-radius: 0 0 10px 10px;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 20%;
        background-color: #03579B;
        color: #fff;
        text-align: center;
        display: flex;
        place-items: center;
        place-content: center;
      }
    }
  }

  
  .contactSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #03579B;
    color: #fff;
  }
  
  .contactTitle {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .contactGrid {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contactFormTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .contactForm {
    display: grid;
    width: 100%;
    gap: 1rem;
  }
  
  .formInput {
    padding: 0.5rem 0;
    color: #ffffff;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;

  }

  .formInput::placeholder{
    color: #fff;
  }
  
  .formTextarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #000;
    background-color: none;
    border: 1px solid #fff;
  }
  
  .formSubmitButton {
    background-color: #a0a0a0;
    color: #ffffff;
    font-size: 1.7rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    transition: background-color 0.2s;
    border: none;
  }
  
  .contactInfoTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .contactInfoItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .contactInfoItem > *:not(:first-child) {
    margin-left: 0.75rem;
  }
  
  .whatsappButton {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }
  
  
  .whatsappButton > *:not(:first-child) {
    margin-left: 0.5rem;
  }
  
  /* Responsive adjustments */
  @media (max-width: 800px) {
    .missionVisionGrid {
      grid-template-rows: repeat(2, 1fr);
    }
  
    .contactGrid {
      grid-template-columns: repeat(1, 1fr);
    }

    .projectsCards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; /* Allows items to wrap within the column */
      height: 1300px; /* Adjust this to control the height and trigger wrapping */

      & .cardBono{
        width: 45vw;
        min-height: 80px;
        height: 600px;
      }
    }

    .navLink{
      display: none;
    }
    .missionVisionGrid{
      flex-direction: column;
    }

    .missionVisionImage {
      width: 70vw;
      height: auto;
      
    }

    & .cardDesc{
      font-size: 0.8rem;
    }

    .contactSection{
      height: fit-content;
    }
  }