.main{
    width: 80vw;
    height: calc(100% - 4em);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    place-items: center;
}


@media (max-width: 1085px) {

    .main{
        padding-top: 1em;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }
}