.main{
    height: calc(100% - 4em);
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}


.userTable{
    width: 40%;
    display: table;
    align-self: center;
    border-collapse: collapse;
    position: relative;
    right: 3vw;
}

.thead{
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #DBDBDB;
}

.tr{
    height: 2em;
    &:nth-child(even){
        background-color: #F2F2F2;
    }
}

.theadText{
    color: #03579B;
    font-weight: 400;
}

.tbodyText, .tbodyEdit{
    text-align: center;
    position: relative;
}

.tbodyImage:hover{
    cursor: pointer;
}

.rolePopup{
    position: absolute;
    width: 10em;
    height: 12em;
    padding: 1em;
    overflow: hidden;
    top: -11em;
    right: -11em;
    box-shadow: 0 2px 5px 1px #00000049;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: space-between;
    place-items: center;

    & .role{
        height: 1em;
        display: flex;
        place-content: center;
        place-items: center;
        text-align: center;
        border-radius: 30px;
        width: 100%;
        height: 2em;
    }


}

.roleIcons{
    width: 100%;
    display: flex;
    place-content: space-between ;
}
.rolesContainer{

    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    place-content: start;
    place-items: start;
}


@media (max-width: 1185px){
    .userTable{
        width: 50%;
        display: table;
        align-self: center;
        border-collapse: collapse;
        position: relative;
        right: 10vw;
    }
}

