@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
  overflow-y: scroll hidden;
}

body,html {
  font-family: "Inter", sans-serif;
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  flex: 1;
  display: flex; /* Enables flexible box layout to stretch content */
  flex-direction: column; /* Ensures content stacks vertically */
  min-height: 100vh; /* Sets the minimum height to the viewport height */
}

