.modalBtns{
    display: flex;
    gap: 1em;
  }

  .modalUpdate{
    border: none;
    background-color: #0066cc;
    padding: 1em;
    color: #fff;
    border-radius: 11px;
    font-size: 1rem;
    width: 7em;

    &:hover{
      background-color: #0058b1;
      cursor: pointer;
    }
  }

  .modalCancel{
    color: #fff;
    border-radius: 11px;
    border: none;
    background-color: rgb(252, 91, 91);
    padding: 1em;
    font-size: 1rem;
    width: 7em;

    &:hover{
      cursor: pointer;
      background-color: rgb(255, 62, 62)
    }
  }

  .newUserModal{
    padding: 1vw;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50vw;
    place-content: center;
    place-items: center;
  }

  .newModalInput{
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);

  }

  @media (max-width: 900px){

    .newUserModal{
      width: 100%;
    }

    .newModalInput{
      width: 100%;
    }
    

    .insertTitle{
      font-size: 30px;
      text-align: center;
    }

    .modalBtns{
      width: 100%;
      text-align: center;
      place-content: center;
      margin-top: 3em;
    }

    .modalUpdate{
      width: 50%;
    }
    
    .modalCancel{
      width: 50%;
    }

    
  }