.select{
    width: 80%;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1em;
}

.submit{
    width: 80%;
    border: none;
    height: 2em;
    

    &:hover{
        cursor: pointer;
    }
}