.cardsContainerAll{
    width: 50%;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    height: 60%;
    gap: 1em;
}

.cardsContainer{

    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 1em;
    height: auto;
    max-height: 100%;
    overflow-y: scroll hidden;
    place-items: center;
    
    overflow: scroll;

    & .card{
        width: 90%;
        padding: 11px 0;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 2px 3px 1px #00000049;
        transition: all 0.1s ease-in-out;

        &:hover{
            cursor: pointer;
        }

        & .cardName{
            color: #FAFAFA;
            transition: all 0.1s ease-in-out;
        }
    }

    & .focused{
        background-color: #FBFBFB !important;
        box-shadow: inset 0 3px 1px #00000049;
        transition: all 0.1s ease-in-out;

        & .cardName{
            color: #03579B !important;
            transition: all 0.1s ease-in-out;
        }
    }
}

.info{
    width: 70%;
    height: 80%;
}

.filterSelectContainer{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 60%;
    text-align: center;
}

.newModalInput{
    width: 100%;
}


@media (max-width: 1185px) {

    .info{
        margin-bottom: 2em;
    }

    .cardsContainer{
        width: 60%;
        place-items: center;
        
    }

    .card{
        width: 100%;
    }

    .info{
        width: 100%;
        height: auto;
        padding: 10px;
    }
}

@media (max-width: 1085px) {

    .cardsContainer{
        width: 100%;
        place-items: center;
    }

}

@media (max-width: 850px) {

    .cardsContainerAll{
        width: 100%;
        place-items: center;
    }

}