
.inputs {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    place-items: center;
}

.inputText{
    height: 50px !important;
}

.inputText, .textInput {
    flex: 1;
    min-width: 200px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-shadow: none;
    transition: border-color 0.3s;
    overflow-y: scroll;
    max-height: 50px;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
}

.itemLupa{

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .inputs {
        width: 80%;
        flex-direction: column;
    }

    .inputText, .textInput {
        width: 100% !important;
    }
}