
.tagPickers{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.buscarBtn{
    border: none;
    background-color: #03579B;
    color: #fff;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    border-radius: 2px;
    font-size: 1.2em;
    gap: 1em;
    padding: 0.7em;

    cursor: pointer;
    
}

.inputs {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    place-items: center;
}

.inputText{
    height: 50px !important;
}

.inputText, .textInput {
    flex: 1;
    min-width: 200px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-shadow: none;
    transition: border-color 0.3s;
    overflow-y: scroll;
    max-height: 50px;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
}

.itemLupa{

    &:hover{
        cursor: pointer;
    }
}

@media (max-width: 640px) {
    .inputs {
        width: 80%;
        flex-direction: column;
    }



    .inputText, .textInput {
        width: 100% !important;
    }
}